*{
    font-family: "Roboto Condensed", sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* Header */
.h1-header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: rgb(35, 24, 24);
    text-align: center;
    text-decoration: none;
}
.logotipo{
    width: 10rem;
}
.enlace{
    display: flex;  
    justify-content: center;
    gap: 20px;
}
.index-nav a{
    color: rgb(141, 198, 198);
    text-align: center;  


}
.index-header-botones{
    background-color: rgb(197, 170, 223);
    color: #fff;
}
/* main */
.h2-main{
    text-align: center;
}
.par-main{
    font-weight: bold;
}
.main-card-servicio {
    background-color: rgb(107, 107, 67);
    width: 15rem;   
    display: flex ;  
    justify-content: center;
    gap: 20px;    
}
.escalera-madera{
    width: 5
    rem;
}
.main-card-servicio{
    width: 90%;
}

/* footer */
footer{
    background-color: rgb(136, 128, 128);
}
footer h2, footer a{ 
    color: #fff;
    
}
.logosfooter{
    width: 15%;
}
