// Colores
$primary: #1B2430;       // Azul oscuro elegante, profesional, corporativo
$secondary: #FF6F61;      // Coral cálido para acentos y botones.
$accent: #F4D35E;          // Amarillo dorado para destacar elementos importantes.
$light: #F8F9FA;           // Fondo claro
$background-light: #F5F5F5; //Fondo claro moderno.
$dark: #222222;            // Para textos legibles.

// Tipografías
$font-heading: 'Montserrat', sans-serif; → Moderna y fuerte.
$font-text: 'Lato', sans-serif; → Legible y neutra para párrafos.

// Espaciados
$padding-section: 3rem;
$radius: 16px;



